<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masterlee.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.masterlee.entity.Question">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="include_image" jdbcType="BIT" property="includeImage" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="second_question" jdbcType="VARCHAR" property="secondQuestion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question, options, answer, score, include_image, type, second_question
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_question
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_question
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.masterlee.entity.Question">
    insert into s_question (id, question, options, 
      answer, score, include_image, 
      type, second_question)
    values (#{id,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{includeImage,jdbcType=BIT}, 
      #{type,jdbcType=INTEGER}, #{secondQuestion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.masterlee.entity.Question">
    insert into s_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="includeImage != null">
        include_image,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="secondQuestion != null">
        second_question,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="includeImage != null">
        #{includeImage,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="secondQuestion != null">
        #{secondQuestion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.masterlee.entity.Question">
    update s_question
    <set>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="includeImage != null">
        include_image = #{includeImage,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="secondQuestion != null">
        second_question = #{secondQuestion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.masterlee.entity.Question">
    update s_question
    set question = #{question,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      include_image = #{includeImage,jdbcType=BIT},
      type = #{type,jdbcType=INTEGER},
      second_question = #{secondQuestion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectQuestion" resultMap="BaseResultMap">
    select *  from s_question
  </select>
</mapper>